<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sy.dao.UserMapper">
	<resultMap id="BaseUserResult" type="sy.model.User">
		<id column="id" property="id" jdbcType="INTEGER"></id>
		<result column="userName" property="username" jdbcType="VARCHAR" />
		<result column="userAge" property="userage" jdbcType="INTEGER" />
		<result column="userAddress" property="useraddress" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userName, userAge, userAddress
	</sql>
	<select id="getUserById" resultMap="BaseUserResult" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>